* {
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "DM Sans", sans-serif;
}
/*Reset css*/
a {
  text-decoration: none;
  color: inherit; /*부모의 색깔 상속받아라!!*/
}
button,
textarea,
input {
  font-family: "DM Sans", sans-serif;
  font-size: 16px;
}
button:focus,
button:active,
input:focus,
input:active,
textarea:focus,
textarea:active {
  box-shadow: none;
  outline: none;
}

ul,
ol,
li {
  list-style: none;
  padding-left: 0;
  margin-left: 0;
}
p {
  font-size: 16px;
  line-height: 1.5;
  color: #2b292d;
  letter-spacing: -0.01em;
}
/*>=768*/
@media screen and (min-width: 768px) {
  p {
    font-size: 22px;
    line-height: 1.36363636;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}
